.card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.2s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 480px;
  height: 100%;
  width: 316px;
}

.card:hover {
  transform: translateY(-4px);
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.imageWrapper {
  position: relative;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.discountBadge {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #0d50ff;
  color: #fff;
  font-family: Montserrat;
  font-weight: 400;
  font-style: SemiBold;
  font-size: 20px;
  letter-spacing: 3%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 68px;
  height: 34px;
}

.info {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
}

.priceBlock {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.oldPrice {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
}

.addBtn {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%) scale(0.95);
  padding: 16px 16px;
  background-color: #0d50ff;

  color: white;
  border: none;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  z-index: 2;
  font-size: 20px;
  font-weight: 600;

  width: 284px;
  height: 58px;
}

.card:hover .addBtn {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.card:active .addBtn {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  background-color: #282828;
}

.title {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;

  line-height: 130%;
  letter-spacing: 0%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 16px;
}
.cardPrice {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 40px;
  margin-right: 16px;

  letter-spacing: 0%;
}
.oldPrice {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  content: #8b8b8b;

  letter-spacing: 0%;
  text-decoration: line-through;
}
