.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.tab {
  font-size: 16px;
  font-weight: 400;
  color: #8b8b8b;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #dddddd;
  background-color: transparent;
  border-radius: 6px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.tab:hover:not(.active) {
  background-color: #0d50ff;
  color: #fff;
  border-color: #0d50ff;
}

.tab:active:not(.active) {
  background-color: #0d50ff;
  color: #fff;
}

.active {
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 1px solid #dddddd;
  cursor: default;
  pointer-events: none;
}

.connector {
  width: 32px;
  height: 1px;
  background-color: #dddddd;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.title {
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  margin-bottom: 40px;
  letter-spacing: 0%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 32px;
  justify-items: center;
  width: 100%;
}

/* для экранов шире 1200px — по 4 карточки */
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* для экранов от 768px до 1199px — по 2 карточки */
@media (max-width: 1199px) and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* для экранов меньше 768px — по 1 карточке */
@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
