.footer {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.contact {
  font-size: 64px;
  margin-bottom: 40px;
}
.card {
  height: auto;
  background-color: #f1f3f4;
  display: flex;
}

.card p,
.icons p {
  margin: 0.5rem 0;
}
.icons {
  width: 100%;
  max-width: 100%;

  height: auto;
  background-color: #f1f3f4;
}
.card,
.icons {
  background-color: #f1f3f4;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  flex: 1;
  min-height: 150px;
  height: 100%;
}
.card:hover,
.icons:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  margin-bottom: 32px;
}
.icons img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  transition: transform 0.3s ease;
  margin-right: 8px;
}
.text {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  color: #8b8b8b;
}
.textInfo {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 40px;

  letter-spacing: 0%;
}
.socialsMedien {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.iframe {
  width: 100%;
  max-width: 100%;
  height: 350px;
  border-radius: 8px;
  display: block;
}
@media (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .contact {
    font-size: 44px;
    text-align: center;
  }
  .card,
  .icons {
    width: 100%;
    min-height: 300px;
    height: auto;
  }

  .footer {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .iframe {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .contact {
    font-size: 34px;
    margin-bottom: 10px;
    text-align: center;
  }

  .textInfo {
    font-size: 24px;
    text-align: calc();
  }

  .text {
    font-size: 16px;
    text-align: center;
  }
  .socialsMadien {
    justify-content: center;
    flex-wrap: wrap;
  }
  .icons img {
    width: 28px;
    height: 28px;
  }
  .iframe {
    height: 250px;
  }
  .card,
  .icons {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
